body {
    background-color: black;
    font-size: 24px;
    border-style: solid;
    color: red;
    height: 585px;
    

}

main {
    width: 85%;
    margin: 0 auto;
}

p {
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    border-style: solid;
    color:white;
    margin-top:200px ;
    

}

a:link, a:visited {
    color: white;
}
a:hover {
    color:grey;
}